@import url('https://font');

*{
    margin:0 ;
    padding: 0;  
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    
    font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;

}

:root{
    --bg-color:#fdfdfd;
    --text-color:#333;
    --main-color:#754ef9;
    --white-color:#fdfdfd;
    --shadow-color:rgba(0,0,0,.2);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}
.header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 2rem 7%;
        background: transparent;
        display: flex;
        align-items: center;
        z-index: 100;
        transition: .5s;
}

.header.sticky{
    background: var(--white-color);
    box-shadow: 0.1rem 1rem var(--shadow-color);
}
.logo{
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 600;
    cursor: default;
    margin-right: auto;
}
.navbar a{
    position: relative;
    font-size: 1.7rem;
    color: var(--white-color);
    font-weight: 500;
    margin-right: 3.5rem;

}
.header.sticky .navbar a{
    color: var(--text-color);
}

.header.sticky .navbar a.active{
    color: var(--main-color);
}

.navbar a.active::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: .2rem;
    background: var(--white-color);
}

.header.sticky .navbar a::before{
    background: var(--main-color);
    opacity: .7;
}
#darkmode{
    font-size: 2.5rem;
    color: var(--white-color);
    cursor: pointer;
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}
.header.sticky #darkmode{
    color: var(--text-color);
    opacity: .9;
}
section{
    min-height: 100vh;
    padding: 10rem 7% 2rem;
}
.home{
    display: flex;
    align-items: center;
}
.home .home-content{
    max-width: 44rem;
}
.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
    line-height: .3;
}
.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: .3rem;
}
.home-content p {
    font-size: 1.6rem;

}
.social-media a{
     display: inline-flex;
     justify-content: center;
     align-items: center;
     width: 4rem;
     height: 4rem;
     background: transparent;
     border: .2rem solid var(--main-color);
     border-radius: 50%;
     box-shadow: 0 .2rem .5rem var(--shadow-color);
     font-size: 2rem;
     color: var(--main-color);
     margin: 2.5rem 1.5rem 3rem 0;
}

.social-media a:hover{
    background: var(--main-color);
    color: var(--white-color);
}
.btn{
    display: inline-block;
    padding: 1.2rem 2.8rem;
    background: var(--main-color);
    border-radius: .6rem;
    box-sizing: 0 .2rem .5rem  var(--shadow-color);
    font-size: 1.6rem;
    color: var(--white-color);
    letter-spacing: .1rem;
    font-weight: 600;
    border: .2rem solid;
    transition: .5s ease;
}
.btn:hover{
    background: transparent;
    color: var(--main-color);
    border-color: var(--main-color);
}

/* profession-container */

.home .profession-container{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 768px;
    height: 768px;
    overflow: hidden;
    pointer-events: none;

}

.home .profession-container .profession-box{
    position: absolute;
    top:0;
    right: 0;
    width: 700px;
    height: 700px;
    
    
    border-radius: 50%;

}

.overlay{
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 384px solid var(--main-color);
    border-right: 384px solid var(--main-color);
    border-bottom: 342px solid var(--main-color);
    border-left: 384px solid transparent;
}
/* about-section */

.about-img img{
    width: 30vw;

}
.about{
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    
    
    

}
span {
    color: var(--main-color);
}
.heading{
    text-align: center;
    font-size: 4.5rem;
    
}
.heading h2{
    
    text-align: left;
    line-height: 1.2;
}

.about-content h3{
    /* margin-top: 100px; */
    font-size: 2rem;
}

.about-content p{
    
    font-size: 1.6rem ;
    /* margin: 3rem 0rem 10rem; */
}
.project{
    min-height: auto;
    padding-bottom: 7rem;
    outline: #333 5px solid;
}

.project h2{
    margin-bottom: 5rem ;
}
.project-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    
}

.project-container .project-box{
    flex: 1 1 30rem;
    background: var(--bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    box-shadow: 0.1rem .5rem var(--shadow-color);
    text-align: center;
    transition: .5s ease;
    border-top: .6rem solid var(--main-color);
    border-bottom: .6rem solid var(--main-color);
}
.project-container .project-box:hover{
    box-shadow: 0.1rem 2rem var(--shadow-color);
    transform: scale(1.02);
}

.project-box h3{
    font-size: 2.6rem;
    transition: .5s ease;
}

.project-box h3:hover{
    color: var(--main-color);
}
.project-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}
 /* contact */

 .contact h2{
    margin-bottom: 3rem;
 }

 .contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
 }
 .contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
 }
 
 .contact form .input-box input,
 .contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
 }

 .contact form .input-box input{
    width: 49%;
 }

 .contact form textarea{
    resize: none;
 }

 .contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
 }

/* footer */
#footer{
    width: 100%;
    background-color: var(--main-color);
    height: 50px;
}







 /* media query */

 @media (max-width:1000px ){
    html{
        font-size: 55%;

    }
    .home .profession-container{
        height: 85.8rem;
    }
    .home .profession-container .profession-box{
        right: -12px;
        height: 85.8rem;

    }
    .home .profession-container  .overlay{
        right: -9rem;
    }
 }

 @media (max-width:900px){
    .header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .home .profession-container .profession-box{
        right: -22rem;
    }
    .home .profession-container  .overlay{
        right: -15rem;
    }
    
 }
 @media (max-width:800px){


    
    .home .profession-container .profession-box{
        right: -45rem;

    }
    .home .profession-container  .overlay{
        right: -25rem;
    }
 }

 @media (max-width:630px){

    .navbar a:nth-child(1),
    .navbar a:nth-child(2)
    {
        color: var(--main-color);
    }

    .navbar a.active::before{
        background: var(--main-color);
        opacity: .7;
    }

    
    .home .profession-container .profession-box{
        right: -60rem;

    }
    .home .profession-container  .overlay{
        right: -45rem;
    }
 }

 @media (max-width:480px){
    #menu-icon{
        display: block;
    }
    #darkmode{
        position: absolute;
        right: 7rem;
        font-size: 3rem;
        color: var(--text-color);
        margin-bottom: .1rem;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top:  .1rem solid rgba(0,0,0,.2);
        box-shadow: 0.5rem 1rem rgba(0,0,0,.1);
        display: none;

    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: var(--text-color);
    }

    .navbar a:nth-child(1),
    .navbar a:nth-child(2)
    {
        color: var(--text-color);
    }

    .navbar a.active{
        color: var(--main-color);
    }
    .navbar a.active::before{
       display: none;
    }

    .home .profession-container  .overlay{
        right: -50rem;

        
    }
    .about {
        flex-direction: column-reverse;
        text-align: center;

    }
    .about-img img{
        width: 70vw;
    }
    .overlay{
      
        border-bottom: 200px solid var(--main-color);
        
    }
 }

 @media (max-width: 425px){
    .overlay{
        display: none;
    }
    
    .contact form .input-box input{
        width: 100%;
     }
 }
 